/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 24, 2021, 7:45:13 PM
    Author     : frey
*/

body {
    background-color: red;
}

#consultar{
    margin-right: 150px;
}

.etiquetas {
    font-size: 20pt;
}